* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(179, 231, 231);
}
h1 {
    display: flex;
    justify-content: center;
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.scoreboard {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 10px;
    align-items: center;
}
.scoreboard h2 {
    font-size: 25px;
    font-weight: bolder;
}
.scoreboard p {
    text-align: center;
    padding: 15px;
    font-size: 20px;
}
#PlayerChoice, #ComputerChoice, #Result {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}
#PlayerChoice {
    color: blue;
}
#ComputerChoice {
    color: red;
}
#Result {
    font-weight: bold;
}
.choose {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
button {
    margin-top: 20px;
}
img {
    display: inline-flex;
    justify-content: center;
    width: 150px;
    height: 150px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.5rem;
    display: flex;
    justify-content: end;
}
