* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
}
.container {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient( 58.2deg,  rgba(40,91,212,0.73) -3%, rgba(171,53,163,0.45) 49.3%, rgba(255,204,112,0.37) 97.7% );
    padding: 50px;
}
.app {
    width: 100%;
    max-width: 500px;
    background: beige;
    margin: 150px auto 50px;
    padding: 30px 30px 30px;
    border-radius: 30px;
}
.app h1 {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
#items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#your_task {
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    background: white;
    padding: 10px;
    font-size: 15px;
}
#Add_Task {
    width: 70px;
    height: 45px;
    border-radius: 20px;
    font-size: 15px;
}
#Add_Task:hover {
    color: green;
}
ul {
    font-size: 20px;
    margin: 15px auto 10px;
    list-style: square;
    border-radius: 10px;
    font-size: 17px;
}
#task_list {
    position: fixed;
    left: _px;
    top: _px;
    cursor: pointer;
}


    /*  Width = 510;
        Height = 190;
        Left = 490;
        Top = 190; */