body {
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* animated background */

.wrapper span{
    position: fixed;
    bottom: -180px;
    height: 50px;
    width: 50px;
    z-index: -1;
    background-color: #18191f;
    box-shadow: 0 0 50px #0072ff,
                0 0 100px #0072ff,
                0 0 150px #0072ff,
                0 0 200px #0072ff;
    animation: animate 10s linear infinite;
}

.wrapper span:nth-child(1) {
    left: 60px;
    animation-delay: 0.6s;
}

.wrapper span:nth-child(2) {
    left: 10%;
    animation-delay: 3s;
    width: 60px;
    height: 60px;
}

.wrapper span:nth-child(3) {
    left: 20%;
    animation-delay: 2s;
}

.wrapper span:nth-child(4) {
    left: 30%;
    animation-delay: 5s;
    width: 80px;
    height: 80px;
}

.wrapper span:nth-child(5) {
    left: 40%;
    animation-delay: 1s;
}

.wrapper span:nth-child(6) {
    left: 50%;
    animation-delay: 7s;
}

.wrapper span:nth-child(7) {
    left: 60%;
    animation-delay: 6s;
    width: 100px;
    height: 100px;
}

.wrapper span:nth-child(8) {
    left: 70%;
    animation-delay: 9s;
}

.wrapper span:nth-child(9) {
    left: 80%;
    animation-delay: 6s;
    width: 90px;
    height: 90px;
}

.wrapper span:nth-child(10) {
    left: 90%;
    animation-delay: 4s;
    width: 120px;
    height: 120px;
}

@keyframes animate {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    80% {
        opacity: .7;
    }
    100% {
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}






























.navigation {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    opacity: .9;
}

.navigation a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    opacity: 0.5;
}

.navigation a:hover {
    color: #f1f1f1;
}

.navigation .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 50px;
}

#home {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: 700;
    color: #f9f9f9;
    padding: 0 10%;
    margin-right: 35%;
    margin-bottom: 100px;
}

/* These are options for the h2 across the page */

h2 {
    font-size: 42px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: lightblue;
    overflow: hidden;
}

.logo {
    width: 80px;
    height: 70px;
    border-radius: 50%;
}

h3 {
    font-size: 24px;
}

#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* This is the icons area */

.icons-container {
    display: flex;
    font-size: 90px;
    gap: 50px;
}
.icons-container i {
    transition: transform 0.5s;
}
.icons-container i:hover {
    transform: scale(1.5);
}

.html5-icon { color: #E34F26; }   
.python-icon { color: #3776AB; }  
.css3-icon { color: #1572B6; }     
.code-icon { color: #000000; }     
.javascript-icon { color: #F7DF1E; } 
.blender-icon { color: #F5792A; }  

/* this is project section */

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.roll_box {
    width: 25rem;
    height: 16rem;
    background: transparent;
    display: flex;
    justify-content: space-around;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
}

.roll_box div {
    min-width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    color: black;
    scroll-snap-align: center;
}

.box1 img, .box2 img, .box3 img, .box4 img, .box5 img {
    min-width: 25rem;
    min-height: 15rem;
    transition: transform 0.3s ease;
}

.box1 img:hover, .box2 img:hover, .box3 img:hover, .box4 img:hover, .box5 img:hover {
    transform: scale(1.1); /* Scale the image up by 10% on hover */
}

.description-box {
    width: 25rem;
    height: 14rem;
    background: transparent;
    display: flex;
    justify-content: space-around;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
}

.description-box p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    scroll-snap-align: center;
}

.desc1, .desc2, .desc3, .desc4, .desc5 {
    background-image: url('https://github.com/KornelPralat/Portfolio/blob/main/Pictures/low-poly-grid-haikei.png?raw=true');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 25rem;
    min-height: 10rem;
    font-weight: bolder;
    font-style: italic;
}


/* This is a contact area */

.contact {
    display: flex;
    justify-content: center; 
    align-items: center;  
    flex-direction: column;
}

.contact h2 {
    font-size: 50px;
}

input {
    width: 70%;
    font-size: 16px;
    padding: 16px 16px;
    border-radius: 12px;
    margin-bottom: 10px;
}

textarea {
    height: 150px;
    width: 70%;
    font-size: 16px;
    padding: 16px 16px;
    border-radius: 12px;
    margin-bottom: 10px;
}

button {
    font-size: 16px;
    border-radius: 12px;
    padding: 16px 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    cursor: pointer;           /* Pointer cursor on hover */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effects */
}

button:hover {
    background-color: #ffffff;
    transform: translateY(-4px);
}
/* This is a footer area */

.footer {
    width: 100%;
    display: inline-flex;
    padding: 3px 0;
    background-color: #111;
    position: relative;
    bottom: 0;
    font-weight: bold;
    color: white;
}

.social {
    display: flex;
    gap: 10px;
    margin-left: 70%;
}

.social a {
    margin: 0 10px;
    color: white;
    font-size: 24px;
}

.social a:hover {
    color: gray;
}
