body {
    background-color: #141516;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.navigation {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    opacity: 80%;
}

.navigation a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    opacity: 50;
}

.navigation a:hover {
    color: #f1f1f1;
}

.navigation .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 50px;
}

#home {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: 700;
    color: #f9f9f9;
    padding: 0 10%;
    margin-right: 40%;
}

h2 {
    font-size: 42px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: lightblue;
    overflow: hidden;
}

h3 {
    font-size: 24px;
}